# Gemini API キー（各自の環境で設定する）
GEMINI_API_KEY=AIzaSyCKJOh8b6iHbbselIk4VrEYtEaTMRUMQRE
GEMINI_MODEL=models/gemini-flash-latest

# supabase
PROJECT_URL=https://jujgjgaswctabpojdegh.supabase.co
PUBLISHED_KEY=sb_publishable_R7N7Hpp7W_KQiQ-zeNJjVg_J66W87Wq